@import "../../../../foundation/scss/design-system/apollo/colors.scss";
@import "../../../../foundation/scss/design-system/apollo/typography.scss";
@import "../../../../foundation/scss/variables.scss";

.mbwd-assets {
  margin: 56px 0;

  &,
  & * {
    box-sizing: border-box;
  }

  & > .title {
    @extend %typography-h3;
    color: map-get($neutral-color, "50");
  }

  & > .title,
  & > .search-wrapper {
    margin: 0 0 32px 0;
  }
}

@media screen and (max-width: $tablet-treshold) {
  .mbwd-assets {
    margin: 40px 0;

    & > .title {
      font-size: 24px;
    }

    & > .title,
    & > .search-wrapper {
      margin: 0 0 32px 0;
    }
  }
}
