@import "../../../../../foundation/scss/design-system/apollo/spacing";
@import "../../../../../foundation/scss/variables";

.mbwd-fixed-income-asset-table-skeleton {
  td {
    height: 66px;

    .skeleton {
      height: 28px;
    }

    &.asset-cell {
      display: flex;

      .skeleton.asset-icon {
        width: 24px;
        height: 24px;
        border-radius: 50%;
        margin-right: map-get($spacing-inline, 'xxxs');
      }

      .skeleton.name {
        width: 128px;
      }
    }

    &.minimum-value {
      .skeleton {
        width: 56px;
      }
    }

    &.profitability{
      .skeleton {
        width: 104px;
      }
    }

    &.liquidation-date {
      .skeleton {
        width: 104px;
      }
    }

    &.available-percentage {
      .skeleton {
        width: 200px;
      }
    }

    &.status {
      .skeleton {
        width: 128px;
      }
    }

    &.cta-wrapper {
      .skeleton {
        width: 97px;
      }
    }
  }
}


.mbwd-fixed-income-asset-table-skeleton-mobile {
  background: map-get($background-color, "primary");
  padding: map-get($spacing-inset, 'xs');
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: none;
  transition: all 0.2s ease;
  border-bottom: solid 1px map-get($secondary-color, "10");
  text-decoration: none;

  .attributes {
    width: 100%;
    display: flex;

    .header {
      display: flex;

      .asset-icon {
        width: 32px;
        height: 32px;
        border-radius: 50%;
        margin-right: map-get($spacing-inline, 'nano');
      }
    }

    .name {
      width: 112px;
      height: 22px;
      margin-bottom: map-get($spacing-stack, 'quarck');

    }

    .type {
      width: 70px;
      height: 22px;
    }
  }

  .market-data {
    display: flex;
    flex-direction: column;

    .badge {
      width: 112px;
      height: 20px;
      align-self: flex-end;
      margin-bottom: map-get($spacing-stack, 'quarck');
    }

    .price {
      width: 144px;
      height: 22px;
      justify-self: flex-end;
    }
  }
}