@import "../../../../../foundation/scss/design-system/apollo/colors";
@import "../../../../../foundation/scss/design-system/apollo/buttons";
@import "../../../../../foundation/scss/design-system/apollo/typography";
@import "../../../../../foundation/scss/variables";

.mbwd-fixed-income-asset-card-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;

  & > .fixed-income-card {
    background: map-get($background-color, "primary");
    box-shadow: $box-shadow-lvl-1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: solid 1px transparent;
    transition: all 0.2s ease;

    &:hover,
    &:active {
      border: 1px solid map-get($primary-color, "30");
    }

    .badge-wrapper {
      display: flex;
      align-items: center;

      .badge {
        display: inline-flex;
        align-items: center;
        padding: 2px 4px;
        border: 1px solid map-get($neutral-color, "10");
        border-radius: $border-radius-small;
        @extend %typography-caption;

        line-height: 100%;
        color: map-get($neutral-color, "50");
        white-space: nowrap;

        .rounded-status {
          width: 8px;
          height: 8px;
          border-radius: 50%;
          margin-right: 6px;

          &.primary {
            background: map-get($tertiary-color, "30");
          }

          &.secondary {
            background: map-get($secondary-color, "50");
          }

          &.sold-out {
            background: map-get($negative-color, "30");
          }
        }
      }
    }

    .asset-icon {
      width: 32px;
      height: 32px;
    }
  }

  & > .fixed-income-card.desktop {
    border-radius: $border-radius-big;
    padding: 24px;

    // max-width: 280px;
    min-width: 389px;
    width: calc(33.3% - 32px);

    // height: 195px;
    margin-top: 32px;

    .badge-wrapper {
      margin: 0 0 16px;
    }

    .asset-data {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 16px;

      .attributes {
        .name {
          @extend %typography-label-2;

          color: map-get($neutral-color, "50");
          margin: 0 0 16px;
        }

        .title,
        .description {
          @extend %typography-label-3;

          color: map-get($neutral-color, "50");
          margin: 0 0 2px;
        }

        .description {
          margin-bottom: 8px;
          font-weight: 400;

          &.profitability {
            color: map-get($positive-color, "30");
            @extend %typography-label-3;
            white-space: nowrap;
          }

          &:last-child {
            margin: 0;
          }
        }
      }

      .sold-percentage {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        .circular-chart {
          width: 104px;
          height: 104px;

          .circle {
            stroke: map-get($tertiary-color, "20");
            fill: none;
            stroke-width: 2.8;
            stroke-linecap: round;
            animation: progress 1s ease-out forwards;
          }

          @keyframes progress {
            0% {
              stroke-dasharray: 0 100;
            }
          }
        }

        .middle-circle {
          position: absolute;
          border-radius: 50%;
          height: 86px;
          width: 86px;
          background-color: #fff;
          display: flex;
          flex-direction: column;
          align-items: center;
          justify-content: center;

          p {
            @extend %typography-body-3;

            text-align: center;
            color: map-get($neutral-color, "30");
            margin: 0;

            strong {
              @extend %typography-label-3;
            }
          }
        }
      }
    }

    .ctas {
      display: flex;
      flex-direction: column;

      .button {
        @extend %typography-button-2;

        height: 32px;
        margin-bottom: 16px;
        border-radius: 4px;

        &:last-child {
          margin: 0;
        }
      }
    }
  }

  & > .fixed-income-card.mobile {
    padding: 16px;
    border-radius: $border-radius-default;
    width: 100%;
    justify-content: space-between;
    margin-top: 24px;

    & > .attributes {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 8px;

      & > .header {
        display: flex;
        align-items: center;

        & > .asset-icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }

        & > .symbol {
          @extend %typography-label-2;

          color: map-get($neutral-color, "50");
          white-space: nowrap;
          margin: 0;
        }
      }
    }

    & > .market-data {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;

      .profitability {
        color: map-get($positive-color, "30");
        @extend %typography-label-3;

        margin: 0;
        white-space: nowrap;
      }

      .minimum-value {
        text-align: right;

        .min-label {
          @extend %typography-caption;

          font-size: 10px;
          margin: 0;
        }

        .min-value {
          @extend %typography-label-2;

          margin: 0;
        }
      }
    }
  }
}
