@import "../../../../../foundation/scss/design-system/apollo/colors";
@import "../../../../../foundation/scss/design-system/apollo/scrollbar";
@import "../../../../../foundation/scss/design-system/apollo/typography";
@import "../../../../../foundation/scss/design-system/apollo/spacing";
@import "../../../../../foundation/scss/variables";

.graph-bars-wrapper {
  display: flex;
  justify-content: space-around;

  .graph-bar-item {
    .bar-container {
      display: flex;
      height: 120px;
      width: 80px;
      margin-bottom: 12px;

      .bar-filler {
        align-self: flex-end;
        max-height: 100%;
        height: 90%;
        width: 100%;
        background-color: map-get($primary-color, "30");
        border-radius: $border-radius-small
      }
    }
    .asset-name {
      @extend %typography-body-3;
      color: map-get($neutral-color, "50");
      margin-bottom: map-get($spacing-stack, "nano");
    }
    .value {
      @extend %typography-label-3;
      color: map-get($neutral-color, "50");
      margin-bottom: map-get($spacing-stack, "quark");
    }
    .yield {
      @extend %typography-body-3;
      color: map-get($neutral-color, "30");
    }
    &:nth-child(2) {
      .bar-container {
        .bar-filler {
          background-color: map-get($primary-color, "20");
        }
      }
    }
    &:nth-child(3) {
      .bar-container {
        .bar-filler {
          background-color: map-get($primary-color, "10");
        }
      }
    }
  }
}
