@import "../../../../../foundation/scss/design-system/apollo/colors";
@import "../../../../../foundation/scss/design-system/apollo/buttons";
@import "../../../../../foundation/scss/design-system/apollo/typography";
@import "../../../../../foundation/scss/design-system/apollo/spacing";

.mbwd-crypto-asset-table {
  .crypto-asset-table-desktop {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0;
    margin-top: 32px;
    height: auto;
    transition: all 0.2s ease;

    thead,
    tbody {
      tr {
        th,
        td {
          text-align: left;
          transition: border 0.2s ease;
          border-left: none;
          border-right: none;
          border-top: solid 1px transparent;
          border-bottom: solid 1px map-get($secondary-color, "10");

          &:first-child {
            border-left: solid 1px transparent;
          }

          &:last-child {
            border-right: solid 1px transparent;
          }
        }

        td {
          transition: background 0.2s ease;
        }

        &:hover {
          th,
          td {
            border-top: solid 1px map-get($primary-color, "main");
            border-bottom: solid 1px map-get($primary-color, "main");

            &:first-child {
              border-left: solid 1px map-get($primary-color, "main");
              border-top-left-radius: 4px;
              border-bottom-left-radius: 4px;
            }

            &:last-child {
              border-right: solid 1px map-get($primary-color, "main");
              border-top-right-radius: 4px;
              border-bottom-right-radius: 4px;
            }
          }

          td {
            background-color: map-get($primary-color, "5");
          }
        }
      }
    }

    thead {
      tr {
        th {
          padding: 10px 16px;
          @extend %typography-label-3;

          color: map-get($neutral-color, "50");

          .sorter-cell {
            display: flex;
            align-items: center;
            cursor: pointer;

            .sorters {
              display: inline-flex;
              flex-direction: column;
              align-items: center;
              margin-left: 8px;

              .arrow {
                width: 0;
                height: 0;
                padding: 0;
                margin: 0;
                border-left: 4px solid transparent;
                border-right: 4px solid transparent;
                transition: all 0.2s ease;

                &.up {
                  border-bottom: 4px solid map-get($secondary-color, "10");
                  margin-bottom: 3px;
                }

                &.down {
                  border-top: 4px solid map-get($secondary-color, "10");
                }

                &.active {
                  border-bottom-color: map-get($primary-color, "main");
                  border-top-color: map-get($primary-color, "main");
                }
              }
            }
          }
        }
      }
    }

    tbody {
      tr {
        td {
          padding: map-get($spacing-inset, 'xs');

          /* Web/Paragraph/Body 2 */
          @extend %typography-body-2;

          /* Light/Neutral/50 */
          color: map-get($neutral-color, "50");

          &.asset-cell {
            .asset {
              color: map-get($neutral-color, '50');              display: flex;
              align-items: center;
              cursor: pointer;
              text-decoration: none;

              img {
                width: 24px;
                height: 24px;
                margin-right: 16px;
              }
            }
          }

          &.price {
            font-weight: 700;
          }

          &.variation {
            font-weight: 700;

            &.negative {
              /* Light/Negative/30 */
              color: map-get($negative-color, "30");
            }

            &.positive {
              /* Light/Positive/30 */
              color: map-get($positive-color, "30");
            }
          }

          &.cta-wrapper {
            text-align: right;
            width: 100px;

            .button {
              padding: 4px 16px;
              min-width: unset;
              height: 32px;
            }
          }
        }
      }
    }
  }

  .crypto-asset-table-mobile {
    margin-top: 32px;

    & > .crypto-asset {
      padding: map-get($spacing-inset, 'xs');
      width: 100%;
      background: map-get($background-color, "primary");
      display: flex;
      gap: 8px;
      justify-content: space-between;
      cursor: pointer;
      border: solid 1px transparent;
      transition: all 0.2s ease;
      border-bottom: solid 1px map-get($secondary-color, "10");
      text-decoration: none;

      &:hover,
      &:active {
        border: 1px solid map-get($primary-color, "30");
        border-radius: 4px;
      }

      .asset-icon {
        width: 32px;
        height: 32px;
      }

      .variation {
        color: map-get($neutral-color, "50");

        & > .value {
          &.negative {
            color: map-get($negative-color, "30");
          }

          &.positive {
            color: map-get($positive-color, "30");
          }
        }
      }

      & > .attributes {
        display: flex;
        align-items: flex-start;
        margin: 0;
        overflow: hidden;

        & > .header {
          display: flex;
          align-items: flex-start;
          width: 100%;

          & > .asset-icon {
            margin-right: 8px;
          }

          & > .asset-data {
            display: flex;
            flex-direction: column;
            overflow: hidden;
            white-space: nowrap;

            & > .name {
              @extend %typography-label-2;

              color: map-get($neutral-color, "50");
              white-space: nowrap;
              margin: 0 0 4px;
              overflow: hidden;
              text-overflow: ellipsis;
            }

            & > .sub-type {
              @extend %typography-body-3;

              color: map-get($neutral-color, "30");
              white-space: nowrap;
              margin: 0;
            }
          }
        }
      }

      & > .market-data {
        display: flex;
        flex-direction: column;

        & > .price {
          @extend %typography-label-2;

          color: map-get($neutral-color, "50");
          white-space: nowrap;
          text-align: right;
          margin: 0 0 4px;
        }

        & > .variation {
          @extend %typography-label-3;

          margin: 0;
          white-space: nowrap;
          text-align: right;

          & > .label-24h {
            @extend %typography-caption;

            background-color: map-get($primary-color, "5");
            border-radius: $border-radius-big;
            padding: 0 4px;
            margin-left: 4px;
          }
        }
      }
    }
  }
}
