@import "../../../../../foundation/scss/design-system/apollo/colors.scss";
@import "../../../../../foundation/scss/design-system/apollo/typography.scss";
@import "../../../../../foundation/scss/variables.scss";

.mbwd-crypto-asset-card-list {
  display: flex;
  align-items: flex-start;
  flex-wrap: wrap;
  justify-content: space-between;
  width: 100%;

  & > .crypto-card {
    background: map-get($background-color, "primary");
    box-shadow: $box-shadow-lvl-1;
    display: flex;
    flex-direction: column;
    cursor: pointer;
    border: solid 1px transparent;
    transition: all 0.2s ease;

    &:hover {
      border: 1px solid map-get($primary-color, "30");
    }

    .badges {
      display: flex;
      align-items: flex-start;
      justify-content: flex-end;
      flex-wrap: wrap;
      padding-left: 8px;

      & > .badge {
        display: flex;
        align-items: center;
        white-space: nowrap;
        padding: 2px 4px;
        margin-left: 8px;
        margin-bottom: 8px;
        @extend %typography-caption;
        color: map-get($neutral-color, "50");
        border: 1px solid map-get($neutral-color, "10");
        border-radius: $border-radius-small;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-bottom: 0;
        }

        & > .icon {
          width: 12px;
          height: 12px;
          margin-right: 6px;
        }
      }
    }

    .asset-icon {
      width: 32px;
      height: 32px;
    }

    .variation {
      color: map-get($neutral-color, "50");

      & > .value {
        &.negative {
          color: map-get($negative-color, "30");
        }

        &.positive {
          color: map-get($positive-color, "30");
        }
      }
    }
  }

  & > .crypto-card.desktop {
    border-radius: 16px;
    padding: 24px;
    min-width: 280px;
    width: calc(25% - 32px);
    height: 195px;
    margin-top: 32px;

    & > .attributes {
      & > .header {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 8px;
      }

      & > .name {
        @extend %typography-label-2;
        color: map-get($neutral-color, "50");
        display: flex;
        align-items: center;
        margin: 0;

        & > .symbol {
          @extend %typography-body-3;
          margin-left: 4px;
        }
      }

      & > .type {
        /* Web/Paragraph/Body 3 */
        @extend %typography-body-3;
        /* Light/Neutral/30 */
        color: map-get($neutral-color, "30");
        margin: 0 0 16px 0;
      }
    }

    & > .price {
      @extend %typography-h5;
      color: map-get($neutral-color, "50");
      margin: 0 0 4px 0;
    }

    & > .variation {
      @extend %typography-body-2;
      margin: 0 0 0 0;

      & > .value {
        @extend %typography-label-2;
      }
    }
  }

  & > .crypto-card.mobile {
    border-radius: 16px;
    padding: 16px;
    width: 100%;
    margin-top: 32px;

    & > .attributes {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      margin: 0 0 8px 0;

      & > .header {
        display: flex;
        align-items: center;

        & > .asset-icon {
          width: 24px;
          height: 24px;
          margin-right: 8px;
        }

        & > .asset-data {
          display: flex;
          flex-direction: column;
          white-space: nowrap;
          & > .name {
            @extend %typography-label-2;
            color: map-get($neutral-color, "50");
            white-space: nowrap;
            margin: 0;
          }
          & > .type {
            @extend %typography-caption;
            color: map-get($neutral-color, "30");
            white-space: nowrap;
            margin: 0;
          }
        }
      }
    }

    & > .market-data {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-left: 32px;
      & > .variation {
        @extend %typography-label-3;
        margin: 0;
        white-space: nowrap;

        & > .label-24h {
          @extend %typography-caption;
          background-color: map-get($primary-color, "5");
          border-radius: $border-radius-big;
          padding: 0 4px;
          margin-left: 8px;
        }
      }
      & > .price {
        @extend %typography-label-2;
        color: map-get($neutral-color, "50");
        margin: 0;
        white-space: nowrap;
      }
    }
  }
}
